<%= form_for @dashboard, url: (@dashboard.persisted? ? dashboard_path(@dashboard, params: variable_params(@dashboard)) : dashboards_path(params: variable_params(@dashboard))), html: {id: "app", class: "small-form"} do |f| %>
  <% if @dashboard.errors.any? %>
    <div class="alert alert-danger"><%= @dashboard.errors.full_messages.first %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group hide" id="queries-group">
    <%= f.label :charts %>
    <ul id="queries" class="list-group"></ul>
  </div>
  <div class="form-group hide">
    <%= f.label :query_id, "Add Chart" %>
    <%= select_tag :query_id, nil, {include_blank: true, placeholder: "Select chart"} %>
  </div>
  <p class="hide" id="dashboard-actions">
    <% if @dashboard.persisted? %>
      <%= link_to "Delete", dashboard_path(@dashboard), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger" %>
    <% end %>
    <%= f.submit "Save", class: "btn btn-success" %>
    <%= link_to "Back", :back, class: "btn btn-link" %>
  </p>
<% end %>

<%= javascript_tag nonce: true do %>
  <%= blazer_js_var "queries", Blazer::Query.active.named.order(:name).select("id, name").map { |q| {text: q.name, value: q.id} } %>
  <%= blazer_js_var "dashboardQueries", (@queries || @dashboard.dashboard_queries.order(:position).map(&:query)).as_json(only: [:id, :name]) %>

  const queriesList = document.getElementById("queries")
  const queriesGroup = document.getElementById("queries-group")
  const querySelect = document.getElementById("query_id")
  const actions = document.getElementById("dashboard-actions")

  function addQuery(query) {
    const li = document.createElement("li")
    li.classList.add("list-group-item")
    li.setAttribute("data-query-id", query.id)

    const span = document.createElement("span")
    span.classList.add("glyphicon", "glyphicon-remove")
    span.setAttribute("aria-hidden", "true")

    const input = document.createElement("input")
    input.setAttribute("type", "hidden")
    input.setAttribute("name", "query_ids[]")
    input.setAttribute("value", query.id)

    li.append(span, query.name, input)
    queriesList.append(li)
    show(queriesGroup)
  }

  for (const query of dashboardQueries) {
    addQuery(query)
  }

  queriesList.addEventListener("click", function (e) {
    const target = e.target.closest(".glyphicon-remove")
    if (target) {
      target.closest("li").remove()

      if (queriesList.querySelectorAll("li").length == 0) {
        hide(queriesGroup)
      }
    }
  })

  $(querySelect).selectize({
    options: queries,
    highlight: false,
    maxOptions: 100,
    onChange: function (id) {
      if (id) {
        const item = this.getItem(id)

        // if duplicate query is added, remove the first one
        for (const query of queriesList.querySelectorAll("li")) {
          if (query.getAttribute("data-query-id") == id) {
            query.remove()
            break
          }
        }

        addQuery({id: id, name: item.text()})
        this.setValue("")
      }
    }
  })

  show(querySelect.closest(".hide"))
  show(actions)

  Sortable.create(queriesList)
<% end %>
