<% blazer_title @dashboard.name %>

<div class="topbar">
  <div class="container">
    <div class="row" style="padding-top: 13px;">
      <div class="col-sm-9">
        <%= render partial: "blazer/nav" %>
        <h3 style="margin: 0; line-height: 34px; display: inline;">
          <%= @dashboard.name %>
        </h3>
      </div>
      <div class="col-sm-3 text-right">
        <%= link_to "Edit", edit_dashboard_path(@dashboard, variable_params), class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>

<div style="margin-bottom: 60px;"></div>

<% if @data_sources.any? { |ds| ds.cache_mode != "off" } %>
  <p class="text-muted" style="float: right;">
    Some queries may be cached
    <%= link_to "Refresh", refresh_dashboard_path(@dashboard, variable_params), method: :post, remote: true %>
  </p>
<% end %>

<%= render partial: "blazer/variables", locals: {action: dashboard_path(@dashboard)} %>

<% @queries.each_with_index do |query, i| %>
  <div style="padding-top: 10px; clear: both;">
    <h4 style="text-align: center;"><%= link_to query.friendly_name, query_path(query, variable_params), style: "color: inherit;" %></h4>
    <div id="chart-<%= i %>" class="chart">
      <p class="text-muted">Loading...</p>
    </div>
  </div>
  <script>
    var data = <%= blazer_json_escape({statement: query.statement, query_id: query.id, only_chart: true}.to_json).html_safe %>;

    runQuery(data, function (data) {
      $("#chart-<%= i %>").html(data);
      $("#chart-<%= i %> table").stupidtable();
    }, function (message) {
      $("#chart-<%= i %>").css("color", "red").html(message);
    });
  </script>
<% end %>

<script>
  $(".form-inline input, .form-inline select").change( function () {
    submitIfCompleted($(this).closest("form"));
  });
</script>
