<% blazer_title @dashboard.name %>

<div class="topbar">
  <div class="container">
    <div class="row name-row">
      <div class="col-sm-9">
        <%= render partial: "blazer/nav" %>
        <h3 class="name-header">
          <%= @dashboard.name %>
        </h3>
      </div>
      <div class="col-sm-3 text-right">
        <%= link_to "Edit", edit_dashboard_path(@dashboard, params: variable_params(@dashboard)), class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>

<div style="margin-bottom: 60px;"></div>

<% if @data_sources.any? { |ds| ds.cache_mode != "off" } %>
  <p class="text-muted pull-right">
    Some queries may be cached
    <%= link_to "Refresh", refresh_dashboard_path(@dashboard, params: variable_params(@dashboard)), method: :post %>
  </p>
<% end %>

<% if @bind_vars.any? %>
  <%= render partial: "blazer/variables", locals: {action: dashboard_path(@dashboard)} %>
<% else %>
  <div style="padding-bottom: 15px;"></div>
<% end %>

<% @queries.each_with_index do |query, i| %>
  <div class="chart-container">
    <h4><%= link_to query.friendly_name, query_path(query, params: variable_params(query)), target: "_blank" %></h4>
    <%= tag.div id: "chart-#{i}", class: "chart" do %>
      <p class="text-muted">Loading...</p>
    <% end %>
  </div>
  <% run_data = {statement: query.statement, query_id: query.id, data_source: query.data_source, variables: variable_params(query), only_chart: true} %>
  <% run_data.merge!(cohort_period: params[:cohort_period]) if params[:cohort_period] %>
  <%= javascript_tag nonce: true do %>
    (function() {
      <%= blazer_js_var "chartId", "chart-#{i}" %>
      <%= blazer_js_var "runData", run_data %>
      const chart = document.getElementById(chartId)
      runQuery(runData, function (data) {
        $(chart).html(data)
        $(chart.querySelector("table")).stupidtable(stupidtableCustomSettings)
      }, function (message) {
        chart.classList.add("query-error")
        chart.textContent = message
      })
    })()
  <% end %>
<% end %>
