<% if @chart_type %>
  <% chart_options = {id: SecureRandom.hex} %>
  <% if @chart_type == 'line'%>
    <%= line_chart cohort_line_chart_data, **chart_options %>
  <% elsif @chart_type == 'bar'%>
    <%= column_chart cohort_stacked_column_chart_data, stacked: true, **chart_options %>
  <% end %>
<% end %>

<% unless @only_chart %>
  <%= render partial: "caching" %>
  <p class="text-muted" style="margin-bottom: 10px;">
    <%= pluralize(@rows.size, "cohort") %>
  </p>

  <% if @rows.any? %>
    <div class="results-container">
      <table class="table results-table">
        <thead>
          <tr>
            <th style="min-width: 100px;">Cohort</th>
            <% @columns.each do |column| %>
              <th style="width: 10%; text-align: right;"><%= column %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @rows.each do |row| %>
            <tr>
              <td>
                <%= row[0] %>
                <div style="font-size: 12px; color: #999;"><%= row[1] == 1 ? "1 user" : "#{number_with_delimiter(row[1])} users" %></div>
              </td>
              <% @cohort_period_cols.times do |index| %>
                <% primary, secondary, enom, denom = primary_secondary_values(row, index) %>
                <td style="text-align: right;">
                  <% if enom && !enom.zero? %>
                    <%= primary %>
                    <div style="font-size: 12px; color: #999;"><%= secondary %></div>
                  <% else %>
                    -
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>