<% if @chart_type %>
  <% if @chart_type == 'line' %>
    <% chart_data = @rows.map do |row|
      {
        name: row.first, 
        data: @columns[2..-1].each_with_index.map { |col, i| [col, row[i + 1]] }
      }
    end %>
    <%= line_chart chart_data %>
  <% elsif @chart_type == 'bar'
      stacked_data = {}

      # Initialize data for new and existing volumes
      new_volumes = []
      existing_volumes = []

      @columns.each do |column|
        stacked_data[column] = {"New" => 0, "Existing" => 0}
      end

      @rows.each do |row|
        new_volume_added = false

        row[2..-1].each_with_index do |value, index|
          period = @columns[index]

          if value > 0
            if !new_volume_added
              # This is the 'new' volume
              stacked_data[period]["New"] += value
              new_volume_added = true
            else
              # This is part of the 'existing' volume
              stacked_data[period]["Existing"] += value
            end
          end
        end
      end

      # Prepare data for the column chart in the specified format
      stacked_data.each do |period, volumes|
        new_volumes << [period, volumes["New"]] if volumes["New"] > 0
        existing_volumes << [period, volumes["Existing"]] if volumes["Existing"] > 0
      end

      column_chart_data = [
        {name: "Existing", data: existing_volumes},
        {name: "New", data: new_volumes}
      ]

    %>
    <%= column_chart column_chart_data, stacked: true %>
  <% end %>
<% end %>

<% unless @only_chart %>
  <%= render partial: "caching" %>
  <p class="text-muted" style="margin-bottom: 10px;">
    <%= pluralize(@rows.size, "cohort") %>
  </p>
<% end %>
<% if @rows.any? %>
  <div class="results-container">
    <table class="table results-table">
      <thead>
        <tr>
          <th style="min-width: 100px;">Cohort</th>
          <% 12.times do |i| %>
            <th style="width: 7.5%; text-align: right;"><%= @conversion_period.titleize %> <%= i + 1 %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @rows.each do |row| %>
          <tr>
            <td>
              <%= row[0] %>
              <div style="font-size: 12px; color: #999;"><%= row[1] == 1 ? "1 user" : "#{number_with_delimiter(row[1])} users" %></div>
            </td>
            <% 12.times do |i| %>
              <td style="text-align: right;">
                <% num = row[i + 2] %>
                <% if num %>
                  <% denom = row[1] %>
                  <% if denom > 0 %>
                    <%= (100.0 * num / denom).round %>%
                  <% else %>
                    -
                  <% end %>
                  <div style="font-size: 12px; color: #999;"><%= number_with_delimiter(num) %></div>
                <% else %>
                  -
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% elsif @only_chart %>
  <p class="text-muted">No cohorts</p>
<% end %>
