<% if @query.errors.any? %>
  <div class="alert alert-danger"><%= @query.errors.full_messages.first %></div>
<% end %>

<% @variable_params = @query.persisted? ? variable_params(@query) : nested_variable_params(@query) %>

<div id="app" v-cloak>
  <div class="blazer-layout">
    <div class="blazer-sidebar" :class="{ collapsed: sidebarCollapsed }">
      <div class="blazer-sidebar-toggle" @click="toggleSidebar">
        <span v-if="!sidebarCollapsed">◀</span>
        <span v-if="sidebarCollapsed">▶</span>
      </div>
      <div class="blazer-sidebar-content">
        <% if Blazer.data_sources.size > 1 %>
          <div class="blazer-sidebar-section">
            <label class="blazer-sidebar-label">Data Source</label>
            <select id="sidebar_data_source" style="width: 100%;">
              <% Blazer.data_sources.each do |id, ds| %>
                <option value="<%= ds.id %>" <%= "selected" if @query.data_source == ds.id %>><%= ds.name %></option>
              <% end %>
            </select>
          </div>
        <% end %>
        
        <div class="blazer-sidebar-section">
          <label class="blazer-sidebar-label">Schema</label>
          <input type="text" v-model="schemaSearch" placeholder="Search tables..." class="form-control blazer-schema-search" />
          <div class="blazer-schema-tables" v-if="schema.length > 0">
            <div v-for="table in filteredSchema" :key="table.table" class="blazer-schema-table-item">
              <div class="blazer-table-name" @click="toggleTable(table.table)" @dblclick="insertTable(table)" :title="'Double-click to insert'">
                <span class="blazer-toggle-icon">{{ expandedTables[table.table] ? '▼' : '▶' }}</span>
                <span v-if="table.schema && table.schema !== 'public'">{{ table.schema }}.</span>{{ table.table }}
              </div>
              <div v-if="expandedTables[table.table]" class="blazer-table-columns">
                <div v-for="column in table.columns" :key="column.name" class="blazer-column-item" @click="insertColumn(table, column)" :title="'Click to insert'">
                  <span class="blazer-column-name">{{ column.name }}</span>
                  <span class="blazer-column-type">{{ column.data_type }}</span>
                </div>
              </div>
            </div>
          </div>
          <div v-if="schema.length === 0 && !loadingSchema" class="text-muted" style="padding: 10px;">
            No schema available
          </div>
          <div v-if="loadingSchema" class="text-muted" style="padding: 10px;">
            Loading...
          </div>
        </div>
      </div>
    </div>
    
    <div class="blazer-main-content" :class="{ 'sidebar-collapsed': sidebarCollapsed }">
      <%= form_for @query, url: (@query.persisted? ? query_path(@query, params: @variable_params) : queries_path(params: @variable_params)), html: {autocomplete: "off"} do |f| %>
        <div class="row">
          <div id="statement-box" class="col-xs-8">
            <div class="form-group">
              <%= f.hidden_field :statement %>
              <%= f.hidden_field :data_source %>
              <div id="editor-container">
                <div id="editor" :style="{ height: editorHeight }"><%= @query.statement %></div>
              </div>
            </div>
            <div class="form-group text-right" style="margin-bottom: 8px;">
              <div class="pull-left" style="margin-top: 8px;">
                <%= link_to "Back", :back %>
                <a :href="docsPath" target="_blank" style="margin-left: 40px;">Docs</a>
              </div>

              <div id="tables" style="display: inline-block; width: 250px; margin-right: 10px;">
                <select id="table_names" style="width: 240px;" placeholder="Preview table"></select>
              </div>
              <a v-on:click="run" v-if="!running" class="btn btn-info" style="vertical-align: top; width: 70px;">Run</a>
              <a v-on:click="cancel" v-if="running" class="btn btn-danger" style="vertical-align: top; width: 70px;">Cancel</a>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area :description, placeholder: "Optional", style: "height: 80px;", class: "form-control" %>
            </div>
            <div class="form-group text-right">
              <%= f.submit "For Enter Press", class: "hide" %>
              <% if @query.persisted? %>
                <%= link_to "Delete", query_path(@query), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger" %>
                <%= f.submit "Fork", class: "btn btn-info" %>
              <% end %>
              <%= f.submit @query.persisted? ? "Update" : "Create", class: "btn btn-success" %>
            </div>
            <% if @query.persisted? %>
              <% dashboards_count = @query.dashboards.count %>
              <% checks_count = @query.checks.count %>
              <% words = [] %>
              <% words << pluralize(dashboards_count, "dashboard") if dashboards_count > 0 %>
              <% words << pluralize(checks_count, "check") if checks_count > 0 %>
              <% if words.any? %>
                <div class="alert alert-info">
                  Part of <%= words.to_sentence %>. Be careful when editing.
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div id="results">
        <p class="text-muted" v-if="running">Loading...</p>
        <div id="results-html" v-if="!running" :class="{ 'query-error': error }"></div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag nonce: true do %>
  <%= blazer_js_var "variableParams", @variable_params %>
  <%= blazer_js_var "previewStatement", Blazer.data_sources.to_h { |k, v| [k, (v.preview_statement rescue "")] } %>

  var app = Vue.createApp({
    data: function() {
      return {
        running: false,
        results: "",
        error: false,
        dataSource: "",
        selectize: null,
        editorHeight: "180px",
        sidebarCollapsed: false,
        schema: [],
        loadingSchema: false,
        schemaSearch: "",
        debouncedSchemaSearch: "",
        expandedTables: {}
      }
    },
    computed: {
      schemaPath: function() {
        return Routes.schema_queries_path({data_source: this.dataSource})
      },
      docsPath: function() {
        return Routes.docs_queries_path({data_source: this.dataSource})
      },
      filteredSchema: function() {
        if (!this.debouncedSchemaSearch) {
          return this.schema
        }
        var search = this.debouncedSchemaSearch.toLowerCase()
        var _this = this
        return this.schema.filter(function(table) {
          var tableName = _this.getTableName(table)
          if (tableName.toLowerCase().indexOf(search) > -1) {
            return true
          }
          return table.columns.some(function(col) {
            return col.name.toLowerCase().indexOf(search) > -1
          })
        })
      }
    },
    watch: {
      schemaSearch: function(val) {
        var _this = this
        clearTimeout(this.schemaSearchTimeout)
        this.schemaSearchTimeout = setTimeout(function() {
          _this.debouncedSchemaSearch = val
        }, 150)
      }
    },
    methods: {
      getTableName: function(table) {
        return (table.schema && table.schema !== 'public' ? table.schema + '.' : '') + table.table
      },
      run: function(e) {
        this.running = true
        this.results = ""
        this.error = false
        cancelAllQueries()

        var data = {statement: this.getSQL(), data_source: $("#query_data_source").val(), variables: variableParams}

        var _this = this

        runQuery(data, function (data) {
          _this.running = false
          _this.showResults(data)

          errorLine = _this.getErrorLine()
          if (errorLine) {
            editor.getSession().addGutterDecoration(errorLine - 1, "error")
            editor.scrollToLine(errorLine, true, true, function () {})
            editor.gotoLine(errorLine, 0, true)
            editor.focus()
          }
        }, function (data) {
          _this.running = false
          _this.error = true
          _this.showResults(data)
        })
      },
      cancel: function(e) {
        this.running = false
        cancelAllQueries()
      },
      toggleSidebar: function() {
        this.sidebarCollapsed = !this.sidebarCollapsed
        if (this.editor) {
          this.editor.resize()
        }
      },
      toggleTable: function(tableName) {
        this.expandedTables[tableName] = !this.expandedTables[tableName]
      },
      insertTable: function(table) {
        if (this.editor) {
          this.editor.insert(this.getTableName(table))
          this.editor.focus()
        }
      },
      insertColumn: function(table, column) {
        var text = this.getTableName(table) + '.' + column.name
        if (this.editor) {
          this.editor.insert(text)
          this.editor.focus()
        }
      },
      loadSchema: function() {
        var _this = this
        this.loadingSchema = true
        this.schema = []
        
        if (this.schemaXhr) {
          this.schemaXhr.abort()
        }
        
        this.schemaXhr = $.getJSON(Routes.schema_queries_path({data_source: this.dataSource}), function(data) {
          _this.schema = data
          _this.loadingSchema = false
        }).fail(function() {
          _this.loadingSchema = false
        })
      },
      updateDataSource: function(dataSource) {
        this.dataSource = dataSource
        var selectize = this.selectize
        selectize.clearOptions()

        if (this.tablesXhr) {
          this.tablesXhr.abort()
        }

        this.tablesXhr = $.getJSON(Routes.tables_queries_path({data_source: this.dataSource}), function(data) {
          var newOptions = []
          for (var i = 0; i < data.length; i++) {
            var table = data[i]
            if (typeof table === "object") {
              newOptions.push({text: table.table, value: table.value})
            } else {
              newOptions.push({text: table, value: table})
            }
          }
          selectize.clearOptions()
          selectize.addOption(newOptions)
          selectize.refreshOptions(false)
        })
        
        // Load schema for sidebar
        this.loadSchema()
      },
      showEditor: function() {
        var _this = this

        editor = ace.edit("editor")
        editor.setTheme("ace/theme/twilight")
        editor.getSession().setMode("ace/mode/sql")
        editor.setOptions({
          enableBasicAutocompletion: false,
          enableSnippets: false,
          enableLiveAutocompletion: false,
          highlightActiveLine: false,
          fontSize: 12,
          minLines: 10
        })
        editor.renderer.setShowGutter(true)
        editor.renderer.setPrintMarginColumn(false)
        editor.renderer.setPadding(10)
        editor.getSession().setUseWrapMode(true)
        editor.commands.addCommand({
          name: "run",
          bindKey: {win: "Ctrl-Enter",  mac: "Command-Enter"},
          exec: function(editor) {
            _this.run()
          },
          readOnly: false // false if this command should not apply in readOnly mode
        })
        // fix command+L
        editor.commands.removeCommands(["gotoline", "find"])

        this.editor = editor

        editor.getSession().on("change", function () {
          $("#query_statement").val(editor.getValue())
          _this.adjustHeight()
        })
        this.adjustHeight()
        editor.focus()
      },
      adjustHeight: function() {
        // https://stackoverflow.com/questions/11584061/
        var editor = this.editor
        var lines = editor.getSession().getScreenLength()
        if (lines < 9) {
          lines = 9
        }

        this.editorHeight = ((lines + 1) * 16).toString() + "px"

        Vue.nextTick(function () {
          editor.resize()
        })
      },
      getSQL: function() {
        var selectedText = editor.getSelectedText()
        var text = selectedText.length < 10 ? editor.getValue() : selectedText
        return text.replace(/\n/g, "\r\n")
      },
      getErrorLine: function() {
        var editor = this.editor
        var errorLine = this.results.substring(0, 100).includes("alert-danger") && /LINE (\d+)/g.exec(this.results)

        if (errorLine) {
          errorLine = parseInt(errorLine[1], 10)
          if (editor.getSelectedText().length >= 10) {
            errorLine += editor.getSelectionRange().start.row
          }
          return errorLine
        }
      },
      showResults(data) {
        // can't do it the Vue way due to script tags in results
        // this.results = data

        Vue.nextTick(function () {
          $("#results-html").html(data)
        })
      }
    },
    mounted: function() {
      var _this = this

      var $select = $("#table_names").selectize({})
      var selectize = $select[0].selectize
      selectize.on("change", function(val) {
        editor.setValue(previewStatement[_this.dataSource].replace("{table}", val), 1)
        _this.run()
        selectize.clear(true)
        selectize.blur()
      })
      this.selectize = selectize

      // Initialize with current data source
      var currentDataSource = $("#query_data_source").val()
      this.updateDataSource(currentDataSource)

      // Setup sidebar data source selector (if exists)
      if ($("#sidebar_data_source").length > 0) {
        var $sidebarDsSelect = $("#sidebar_data_source").selectize({})
        var sidebarDsSelectize = $sidebarDsSelect[0].selectize
        sidebarDsSelectize.setValue(currentDataSource)
        sidebarDsSelectize.on("change", function(val) {
          _this.updateDataSource(val)
          // Update hidden field in main form
          $("#query_data_source").val(val)
          sidebarDsSelectize.blur()
        })
      }

      this.showEditor()
    }
  })
  app.config.compilerOptions.whitespace = "preserve"
  app.mount("#app")
<% end %>
