<% if @query.errors.any? %>
  <div class="alert alert-danger"><%= @query.errors.full_messages.first %></div>
<% end %>

<% @variable_params = @query.persisted? ? variable_params(@query) : nested_variable_params(@query) %>

<div id="app" v-cloak>
  <%= form_for @query, url: (@query.persisted? ? query_path(@query, params: @variable_params) : queries_path(params: @variable_params)), html: {autocomplete: "off"} do |f| %>
    <div class="row">
      <div id="statement-box" class="col-xs-8">
        <% if gpt?(@query) %>
          <div class= "form-group">
            <%= f.label :gpt_prompt %>
            <%= f.text_area :gpt_prompt, class: "form-control", id: "prompt-editor" %>
          </div>
          <div class= "form-group text-end">
            <a v-on:click="runPrompt" v-if="!running" class="btn btn-info" style="vertical-align: top; width: 140px;">Run Prompt</a>
            <a v-on:click="cancelPrompt" v-if="running" class="btn btn-danger" style="vertical-align: top; width: 70px;">Cancel</a>
          </div>
        <% end %>
        <div class= "form-group">
          <%= f.hidden_field :statement %>
          <div id="editor-container">
            <div id="editor" :style="{ height: editorHeight }"><%= @query.statement %></div>
          </div>
        </div>
        <div class="form-group text-right" style="margin-bottom: 8px;">
          <div class="pull-left" style="margin-top: 8px;">
            <%= link_to "Back", :back %>
            <a :href="docsPath" target="_blank" style="margin-left: 40px;">Docs</a>
            <a :href="schemaPath" target="_blank" style="margin-left: 40px;">Schema</a>
          </div>

          <%= f.select :data_source, Blazer.data_sources.map { |_, ds| [ds.name, ds.id] }, {}, class: ("hide" if Blazer.data_sources.size <= 1), style: "width: 140px;" %>
          <div id="tables" style="display: inline-block; width: 250px; margin-right: 10px;">
            <select id="table_names" style="width: 240px;" placeholder="Preview table"></select>
          </div>
          <a v-on:click="run" v-if="!running" class="btn btn-info" style="vertical-align: top; width: 70px;">Run</a>
          <a v-on:click="cancel" v-if="running" class="btn btn-danger" style="vertical-align: top; width: 70px;">Cancel</a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, placeholder: "Optional", style: "height: 80px;", class: "form-control" %>
        </div>
        <div class="form-group text-right">
          <%= f.submit "For Enter Press", class: "hide" %>
          <% if @query.persisted? %>
            <%= link_to "Delete", query_path(@query), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger" %>
            <%= f.submit "Fork", class: "btn btn-info" %>
          <% end %>
          <%= f.submit @query.persisted? ? "Update" : "Create", class: "btn btn-success" %>
        </div>
        <% if @query.persisted? %>
          <% dashboards_count = @query.dashboards.count %>
          <% checks_count = @query.checks.count %>
          <% words = [] %>
          <% words << pluralize(dashboards_count, "dashboard") if dashboards_count > 0 %>
          <% words << pluralize(checks_count, "check") if checks_count > 0 %>
          <% if words.any? %>
            <div class="alert alert-info">
              Part of <%= words.to_sentence %>. Be careful when editing.
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div id="results">
    <p class="text-muted" v-if="running">Loading...</p>
    <div id="results-html" v-if="!running" :class="{ 'query-error': error }"></div>
  </div>
</div>

<%= javascript_tag nonce: true do %>
  <%= blazer_js_var "variableParams", @variable_params %>
  <%= blazer_js_var "previewStatement", Blazer.data_sources.to_h { |k, v| [k, (v.preview_statement rescue "")] } %>

  var tableNames = JSON.parse("<%== j blazer_table_name_completion_source %>");
  initializeQueryForm(variableParams, previewStatement, tableNames);
<% end %>
