<% blazer_title @query.name %>

<h1 style="line-height: 34px;"><%= @query.name %></h1>

<% @edits.each do |edit| %>
  <hr />
  <p>
    <% if edit.user %>
      <%= edit.user == blazer_user ? "You" : edit.user.try(Blazer.user_name) %>
      &middot;
    <% end %>
    <%= edit.created_at.strftime("%b %-e, %Y") %>
    &middot;
    <%= edit.created_at.strftime("%l:%M %P") %>
  </p>
  <p>
    <% if edit.edit_changes["statement"][0].nil? %>
      Created
    <% else %>
      <% edit.edit_changes.each do |attribute, change| %>
          <%= attribute %>:
          <% if change[0].present? %>
            <code><%= change[0] %></code> to
          <% end %>
          <code><%= change[1] %></code>
      <% end %>
    <% end %>
  </p>
<% end %>
