<% if @error %>
  <div class="alert alert-danger"><%= @error %></div>
<% elsif !@success %>
  <% if @only_chart %>
    <p class="text-muted">Select variables</p>
  <% else %>
    <div class="alert alert-info">Can’t preview queries with variables...yet!</div>
  <% end %>
<% else %>
  <% unless @only_chart %>
    <% if @cached_at || @data_source.cache %>
      <p class="text-muted" style="float: right;">
        <% if @cached_at %>
          Cached <%= time_ago_in_words(@cached_at, include_seconds: true) %> ago
        <% elsif !params[:data_source] %>
          Cached just now
        <% end %>

        <% if @query && !params[:data_source] %>
          <%= link_to "Refresh", refresh_query_path(@query, variable_params), method: :post %>
        <% end %>
      </p>
    <% end %>
    <p class="text-muted"><%= pluralize(@rows.size, "row") %></p>
  <% end %>
  <% if @rows.any? %>
    <% values = @rows.first %>
    <% chart_id = SecureRandom.hex %>
    <% column_types = blazer_column_types(@columns, @rows, @boom) %>
    <% chart_options = {id: chart_id, min: nil} %>
    <% series_library = {} %>
    <% target_index = @columns.index { |k| k.downcase == "target" } %>
    <% if target_index %>
      <% series_library[target_index - 1] = {pointStyle: "line", hitRadius: 5, borderColor: "#109618", pointBackgroundColor: "#109618", backgroundColor: "#109618"} %>
    <% end %>
    <% if blazer_maps? && @markers.any? %>
      <div id="map" style="height: <%= @only_chart ? 300 : 500 %>px;"></div>
      <script>
        L.mapbox.accessToken = '<%= ENV["MAPBOX_ACCESS_TOKEN"] %>';
        var map = L.mapbox.map('map', 'ankane.ioo8nki0');
        var markers = <%= blazer_json_escape(@markers.to_json).html_safe %>;
        var featureLayer = L.mapbox.featureLayer().addTo(map);
        var geojson = [];
        for (var i = 0; i < markers.length; i++) {
          var marker = markers[i];
          geojson.push({
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: [
                marker.longitude,
                marker.latitude
              ]
            },
            properties: {
              description: marker.title,
              'marker-color': '#f86767',
              'marker-size': 'medium'
            }
          });
        }
        featureLayer.setGeoJSON(geojson);
        map.fitBounds(featureLayer.getBounds());
      </script>
    <% elsif values.size >= 2 && column_types.compact == ["time"] + (column_types.compact.size - 1).times.map { "numeric" } %>
      <%= line_chart @columns[1..-1].each_with_index.map{ |k, i| {name: k, data: @rows.map{ |r| [r[0], r[i + 1]] }, library: series_library[i]} }, chart_options %>
    <% elsif values.size == 3 && column_types == ["time", "string", "numeric"] %>
      <%= line_chart @rows.group_by { |r| v = r[1]; (@boom[@columns[1]] || {})[v.to_s] || v }.each_with_index.map { |(name, v), i| {name: name, data: v.map { |v2| [v2[0], v2[2]] }, library: series_library[i]} }, chart_options %>
    <% elsif values.size >= 2 && column_types == ["string"] + (values.size - 1).times.map { "numeric" } %>
      <%= column_chart (values.size - 1).times.map { |i| name = @columns[i + 1]; {name: name, data: @rows.first(20).map { |r| [(@boom[@columns[0]] || {})[r[0].to_s] || r[0], r[i + 1]] } } }, id: chart_id %>
    <% elsif @only_chart %>
      <% if @rows.size == 1 && @rows.first.size == 1 %>
        <p style="font-size: 160px;"><%= blazer_format_value(@columns.first, @rows.first.first) %></p>
      <% else %>
        <% @no_chart = true %>
      <% end %>
    <% end %>

    <% unless @only_chart && !@no_chart %>
      <% header_width = 100 / @columns.size.to_f %>
      <div class="results-container">
        <% if @columns == ["QUERY PLAN"] %>
          <pre><code><%= @rows.map { |r| r[0] }.join("\n") %></code></pre>
        <% else %>
          <table class="table results-table" style="margin-bottom: 0;">
            <thead>
              <tr>
                <% @columns.each_with_index do |key, i| %>
                  <% type = @column_types[i] %>
                  <th style="width: <%= header_width %>%;" data-sort="<%= type %>">
                    <div style="min-width: <%= @min_width_types.include?(key) ? 180 : 60 %>px;">
                      <%= key %>
                    </div>
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @rows.each do |row| %>
                <tr>
                  <% row.each_with_index do |v, i| %>
                    <% k = @columns[i] %>
                    <td>
                      <% if v.is_a?(Time) %>
                        <% v = blazer_time_value(k, v) %>
                      <% end %>

                      <% unless v.nil? %>
                        <% if v.is_a?(String) && v == "" %>
                          <div class="text-muted">empty string</div>
                        <% elsif @linked_columns[k] %>
                          <%= link_to blazer_format_value(k, v), @linked_columns[k].gsub("{value}", u(v.to_s)), target: "_blank" %>
                        <% else %>
                          <%= blazer_format_value(k, v) %>
                        <% end %>

                        <% if v2 = (@boom[k] || {})[v.to_s] %>
                          <div class="text-muted"><%= v2 %></div>
                        <% end %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    <% end %>
  <% elsif @only_chart %>
    <p class="text-muted">No rows</p>
  <% end %>
<% end %>
