<% blazer_title "Schema: #{@data_source.name}" %>

<h1>Schema: <%= @data_source.name %></h1>

<hr />

<div id="header">
  <input id="search" type="text" placeholder="Start typing a table or column" style="width: 300px; display: inline-block;" class="search form-control" autofocus />
</div>

<% @schema.each do |table| %>
  <table class="table schema-table">
    <thead>
      <tr>
        <th colspan="2">
          <% if table[:schema] && table[:schema] != "public" %><%= table[:schema] %>.<% end %><%= table[:table] %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% table[:columns].each do |column| %>
        <tr>
          <td style="width: 60%;"><%= column[:name] %></td>
          <td class="text-muted"><%= column[:data_type] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= javascript_tag nonce: true do %>
  function toggle(element, found) {
    if (found) {
      element.classList.remove("hide")
    } else {
      element.classList.add("hide")
    }
  }

  document.getElementById("search").addEventListener("input", function() {
    var value = this.value
    var schemaTables = document.querySelectorAll(".schema-table")
    for (var i = 0; i < schemaTables.length; i++) {
      var schemaTable = schemaTables[i]

      // if found in table name, show entire table
      // if just found in rows, show row
      var tableFound = schemaTable.querySelector("thead").textContent.toLowerCase().indexOf(value) > -1

      var columns = schemaTable.querySelectorAll("tbody tr")
      var anyColumnFound = false

      for (var j = 0; j < columns.length; j++) {
        var column = columns[j]
        if (tableFound) {
          toggle(column, true)
        } else {
          var columnFound = column.textContent.toLowerCase().indexOf(value) > -1
          toggle(column, columnFound)
          if (columnFound) {
            anyColumnFound = true
          }
        }
      }

      toggle(schemaTable, tableFound || anyColumnFound)
    }
  })
<% end %>
