<% blazer_title @query.name %>

<h1 style="line-height: 34px;"><%= @query.name %></h1>

<% @versions.each do |version| %>
  <hr />
  <p>
    <% if version.user %>
      <%= version.user == blazer_user ? "You" : version.user.try(Blazer.user_name) %>
      &middot;
    <% end %>
    <%= version.created_at.strftime("%b %-e, %Y") %>
    &middot;
    <%= version.created_at.strftime("%l:%M %P") %>
  </p>
  <p>
    <% if version.version_changes["statement"][0].nil? %>
      Created
    <% else %>
      <% version.version_changes.each do |attribute, change| %>
          <%= attribute %>:
          <% if change[0].present? %>
            <code><%= change[0] %></code> to
          <% end %>
          <code><%= change[1] %></code>
      <% end %>
    <% end %>
  </p>
<% end %>
