<% blazer_title @query.name %>

<h1 style="line-height: 34px;"><%= @query.name %></h1>

<% @versions.each do |version| %>
  <hr />
  <p>
    <% if version.user %>
      <%= version.user == blazer_user ? "You" : version.user.try(Blazer.user_name) %>
      &middot;
    <% end %>
    <%= version.created_at.in_time_zone(Blazer.time_zone).strftime("%b %-e, %Y") %>
    &middot;
    <%= version.created_at.in_time_zone(Blazer.time_zone).strftime("%l:%M %P") %>
  </p>
  <% if version.created_at == @query.created_at %>
    <p>Created</p>
  <% else %>
    <% version.version_changes.each do |attribute, change| %>
      <p>
        <%= attribute %>:
        <% if change[0].present? %>
          <code><%= change[0] %></code> to
        <% end %>
        <code><%= change[1] %></code>
      </p>
    <% end %>
  <% end %>
<% end %>
