<% unless @check.respond_to?(:invert) %>
  <p class="text-muted">Checks are designed to identify bad data. A check fails if there are any results.</p>
<% end %>

<% if @check.errors.any? %>
  <div class="alert alert-danger"><%= @check.errors.full_messages.first %></div>
<% end %>

<%= form_for @check do |f| %>
  <div class="form-group">
    <%= f.label :query_id, "Query" %>
    <div class="hide">
      <%= f.select :query_id, Blazer::Query.named.order(:name).map { |q| [q.name, q.id] }, {include_blank: true} %>
    </div>
    <script>
      $("#check_query_id").selectize().parents(".hide").removeClass("hide");
    </script>
  </div>

  <% if @check.respond_to?(:invert) %>
    <div class="form-group">
      <%= f.label :invert, "Fails if" %>
      <div class="hide">
        <%= f.select :invert, [["Any results (bad data)", false], ["No results (missing data)", true]] %>
      </div>
      <script>
        $("#check_invert").selectize({}).parent().removeClass("hide");
      </script>
    </div>
  <% end %>

  <% if @check.respond_to?(:schedule) %>
    <div class="form-group">
      <%= f.label :schedule, "Run every" %>
      <div class="hide">
        <%= f.select :schedule, ["1 day", "1 hour", "5 minutes"].map { |v| [v, v] } %>
      </div>
      <script>
        $("#check_schedule").selectize({}).parent().removeClass("hide");
      </script>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :emails %>
    <%= f.text_field :emails, placeholder: "Optional, comma separated", class: "form-control" %>
  </div>
  <p class="text-muted">Emails are sent when a check starts failing, and when it starts passing again.
  <p>
    <% if @check.persisted? %>
      <%= link_to "Delete", check_path(@check), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger" %>
    <% end %>
    <%= f.submit "Save", class: "btn btn-success" %>
  </p>
<% end %>
