<!DOCTYPE html>
<html>
  <head>
    <title><%= blazer_title ? blazer_title : "Blazer" %></title>

    <meta charset="utf-8" />
    <%= favicon_link_tag "blazer/favicon.png" %>
    <% if defined?(Propshaft::Railtie) %>
      <%= stylesheet_link_tag "blazer/bootstrap-propshaft", "blazer/bootstrap", "blazer/selectize", "blazer/github", "blazer/daterangepicker", "blazer/application" %>
      <%= javascript_include_tag "blazer/jquery", "blazer/rails-ujs", "blazer/stupidtable", "blazer/stupidtable-custom-settings", "blazer/jquery.stickytableheaders", "blazer/selectize", "blazer/highlight.min", "blazer/moment", "blazer/moment-timezone-with-data", "blazer/daterangepicker", "blazer/chart.umd", "blazer/chartjs-adapter-date-fns.bundle", "blazer/chartkick", "blazer/mapkick.bundle", "blazer/ace/ace", "blazer/ace/ext-language_tools", "blazer/ace/theme-twilight", "blazer/ace/mode-sql", "blazer/ace/snippets/text", "blazer/ace/snippets/sql", "blazer/Sortable", "blazer/bootstrap", "blazer/vue.global.prod", "blazer/routes", "blazer/queries", "blazer/fuzzysearch", "blazer/application", nonce: true %>
    <% else %>
      <%= stylesheet_link_tag "blazer/application" %>
      <%= javascript_include_tag "blazer/application", nonce: true %>
    <% end %>
    <%= javascript_tag nonce: true do %>
      <%= blazer_js_var "rootPath", root_path %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
