<!DOCTYPE html>
<html>
  <head>
    <title><%= blazer_title ? blazer_title : "Blazer" %></title>

    <meta charset="utf-8" />

    <%= stylesheet_link_tag "blazer/application" %>
    <%= javascript_include_tag "blazer/application" %>
    <script>
      <%= blazer_js_var "rootPath", root_path %>
    </script>
    <% if blazer_maps? %>
      <%= stylesheet_link_tag "https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" %>
      <%= javascript_include_tag "https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js" %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
